* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    padding: 0px;
    font: poppins; 
}
  
  /* #main {
    width: 100%;
    height: 60vh;
    position: relative;
  
  } */
  
  /* nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 5px 10px 30px rgba(137, 245, 253, 0.3);
    z-index: 1;
  }
  
  .logo img {
    height: 45px;
  }
  
  .menu {
    list-style: none;
    display: flex;
  }
  
  .menu li a {
    height: 40px;
    line-height: 43px;
    margin: 3px;
    padding: 0px 22px;
    display: flex;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    color: gray;
  }
  
  a {
    text-decoration: none;
  }
  
  .hey {
    color: #39bfbd;
    font-weight: 500;
    font-size: 0.9em;
    border-bottom: 2px solid #39bfbd;
  } */
  
  .image {
    width: 500px;
    height: auto;
    position: relative;
  }
  
  .image img {
    width: 100%;
    height: 100%;
    object-fit: contain; 
    top: 50%;
    left: 50%;
    transform: translate(20%, 5%);
  }
  
  .content {
    display: flex;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-around;
    align-items: center;
    position: absolute;
    
  }
  
  .main-text {
    width: 500px;
  }
  
  .main-text h1 {
    font-size: 4em;
    color: #1c3548;
    margin: 0px 0px 50px 0px;
    line-height: 60px;
  }
  
  .main-text p {
    color: gray;
  }
/*   
  .resume {
    width: 190px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #1db096;
    border-radius: 20px;
    box-shadow: 5px 10px 30px rgba(24, 139, 119, 0.2);
  }
  
  .resume:hover {
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    transition:slidebg 1s linear infinite;
  } */
  .resume {
    background: hsl(276, 100%, 24%);
    padding: 16px 24px;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.01);
    color: white;
  }
    .resume::after {
      position: absolute;
      content: "";
      top: 15px;
      left: 0;
      right: 0;
      z-index: -1;
      height: 100%;
      width: 100%;
      transform: scale(0.9) translateZ(0);
      filter: blur(15px);
      background: linear-gradient(
        to left,
        #ff5770,
        #e4428d,
        #c42da8,
        #9e16c3,
        #6501de,
        #9e16c3,
        #c42da8,
        #e4428d,
        #ff5770
      );
      background-size: 200% 200%;
      animation: animateGlow 1.25s linear infinite;
    }
    .resume:hover{
      letter-spacing: 3px;
      transition: all 0.5s ease;
      background: hsla(261, 52%, 21%, 1);
      background: linear-gradient(90deg, hsla(261, 52%, 21%, 1) 0%, hsla(184, 74%, 38%, 1) 100%);
      background: -moz-linear-gradient(90deg, hsla(261, 52%, 21%, 1) 0%, hsla(184, 74%, 38%, 1) 100%);
      background: -webkit-linear-gradient(90deg, hsla(261, 52%, 21%, 1) 0%, hsla(184, 74%, 38%, 1) 100%);
    }
  
  @keyframes animateGlow {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 200% 50%;
    }
  }
  .menu li a:hover {
    background-color: #23cdaf;
    color: white;
    box-shadow: 5px 10px 30px rgba(24, 139, 119, 0.2);
    transition: all ease 0.2s;
    border-radius: 25px;
  }

  html, body {width:100%; height:100%; margin:0; padding:0;}



@keyframes bganimation
{
0%   {
           background-position: 
               -100% -100%,
               200% 200%,
               -100% 200%,
               200% -100%;
      }
      50% {
           background-position: 
               150% 100%,
               -200% 100%,
               100% 0%,
               0% 100%;
      }
      100% {
           background-position: 
               -100% -100%,
               200% 200%,
               -100% 200%,
               200% -100%;
      }
}


html {
    background: 
        radial-gradient(ellipse at center, rgba(0,0,255,0.3) 0%, rgba(0,0,0,0) 70%), /* niebieski */
        radial-gradient(ellipse at center, rgba(255,0,0,0.3) 0%, rgba(0,0,0,0) 70%), /*czerwony */
        radial-gradient(ellipse at center, rgba(0,255,0,0.3) 0%, rgba(0,0,0,0) 70%) /*zielony */
        #c3d7db;
    background-repeat: 
        no-repeat, 
        no-repeat, 
        no-repeat;
    background-size: 
        900px 900px,
        900px 900px,
        900px 900px;
    background-attachment: fixed;
    
    animation:bganimation 30s infinite;
}
body { height: 9999px;}html, body {width:100%; height:100%; margin:0; padding:0;}



@keyframes bganimation
{
0%   {
           background-position: 
               -100% -100%,
               200% 200%,
               -100% 200%,
               200% -100%;
      }
      50% {
           background-position: 
               150% 100%,
               -200% 100%,
               100% 0%,
               0% 100%;
      }
      100% {
           background-position: 
               -100% -100%,
               200% 200%,
               -100% 200%,
               200% -100%;
      }
}


html {
    background: 
        radial-gradient(ellipse at center, rgba(0,0,255,0.3) 0%, rgba(0,0,0,0) 70%), /* niebieski */
        radial-gradient(ellipse at center, rgba(255,0,0,0.3) 0%, rgba(0,0,0,0) 70%), /*czerwony */
        radial-gradient(ellipse at center, rgba(0,255,0,0.3) 0%, rgba(0,0,0,0) 70%) /*zielony */
        #c3d7db;
    background-repeat: 
        no-repeat, 
        no-repeat, 
        no-repeat;
    background-size: 
        900px 900px,
        900px 900px,
        900px 900px;
    background-attachment: fixed;
    
    animation:bganimation 30s infinite;
}
/* body { height: 9999px;} */


.about {
 padding: 50% 0% 0% 0%;
 text-align: left;
} 



svg text {
 font-family: Lora;
 letter-spacing: 10px;
 stroke: hsl(181, 21%, 37%);
 font-size: 100px;
 font-weight: 700;
 stroke-width: 3;
 animation: textAnimate 4s infinite alternate;
}

@keyframes textAnimate {
 0% {
   stroke-dasharray: 0 50%;
   stroke-dashoffset:  20%;
   fill: hsl(276, 100%, 24%);

 }
 
 100% {
   stroke-dasharray: 50% 0;
   stroke-dashoffset: -20%;
   fill: hsl(181, 21%, 37%);
 }
}

.art {
  position:absolute;
  margin: -5% 60%;
}

.about--description{
  font-size: 25px;
  width: 800px;
  padding: 5% 5%;
}

.Experience {
  margin: 5% 0% -20% 0%;
  text-align: left;
 } 

 svg text {
  font-family: Lora;
  letter-spacing: 10px;
  stroke: hsl(181, 21%, 37%);
  font-size: 100px;
  font-weight: 700;
  stroke-width: 3;
  animation: textAnimate 4s infinite alternate;
 }
 
 @keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset:  20%;
    fill: hsl(276, 100%, 24%);
 
  }
  
  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffset: -20%;
    fill: hsl(181, 21%, 37%);
  }
 }

.tech{
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-box {
  display: flex;
  background: #1c3548;
  color: white;
}
.icon-box img{
  width: 40px;
  height: auto;
}

.tech--boxes{
  /* display: flex; */
  font-size: 1.2rem;
}

.icon-box {
  background: rgba(28, 53, 72, 0.7);
  border-radius: 50% 10% / 20%;
  padding: 20px;
  color: #fff;
  width: 700px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
  margin-left: 380px;
}

.icon-box:hover{
  background: hsla(261, 52%, 21%, 1);
  background: linear-gradient(90deg, hsla(261, 52%, 21%, 1) 0%, hsla(184, 74%, 38%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(261, 52%, 21%, 1) 0%, hsla(184, 74%, 38%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(261, 52%, 21%, 1) 0%, hsla(184, 74%, 38%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#2E1A52", endColorstr="#199FA9", GradientType=1 );
}

::-webkit-scrollbar{
  width: 1em;
}

::-webkit-scrollbar-track{
  background: none;
  border-radius: 50vw;
}

::-webkit-scrollbar-thumb{
  background: hsl(276, 100%, 24%);
  border-radius: 50vw;
  border: .1em solid hsl(180, 40%, 67%);
}